nav.navbar.nav-transparent.navbar-fixed-top.nav-nochange
  .container-fluid
    ul.nav.navbar-nav.navbar-right.visible-xs
      li
        a.dark-color.link(href="#",data-toggle="sidebar")
          i.fa.fa-bars.fa-2x

.block-sliced.container-fluid.text
  #columnas.row
    .col-sm-6
      .spacing.sp-lg
      h2.sans-2.uppercase.bold.lined Columnas
      h3.sans-2.bold Columnas con posición fija
    .col-sm-6
  .row
    .col-sm-6
      p Podemos diseñar layouts verticales divididos en dos o más columnas.
      h4.sans-2.bold Opciones
      ul.list.list-sm
        li
          p!= 'Los <code>.slice</code> admiten color: <code>dark-bgcolor</code>, etc.'
        li
          p!= 'Cada vez que queramos alinear los contenidos de la derecha y la izquierda, anidamos los <code>.col-sm-6</code> en un <code>.row</code>.'
      //- p
      //-   img.img-full(src="assets/misc/demo04/columnas.png",alt="")
    .col-sm-6
      pre.dark-bgcolor. 
        .fixed-parent
          .sliced
            .slice-row
              .slice
              .slice.dark-bgcolor
        #view
          .block-sliced.container-fluid
            .row
              .col-sm-6
                p Contenido izquierda
              .col-sm-6
                p Contenido derecha
  #sidebars.row
    .col-sm-6
      h2.sans-2.uppercase.bold.lined Sidebar
    .col-sm-6
  .row
    .col-sm-6
      ul.list.list-sm
        li
          p!= 'Añadimos a body <code>.sd-left</code> o <code>.sd-right</code> para determinar la posición.'
        li
          p!= 'Añadimos <code>.sd-sticky</code> a <code>body</code> para que la barra esté visible por defecto.'

    .col-sm-6
      pre.dark-bgcolor.
        .sidebar.dark-bgcolor
          .close-view.light-color
            a.sans(href="#",data-toggle="sidebar") +
          .block
            .row
              .col-xs-12.center
                .brand
                  img.img-full(src="")
                .spacing.sp-md
                .side-menu
                  // Aquí el menú de opciones
  .row
    .col-sm-6
      h3.sans-2.bold Si queremos que esté oculta (y sea desplegable)
      p!= 'Para ocultar este menú modificamos el navheader para que quede así:'
      ul.list.list-sm
        li
          p!= 'Recordemos eliminar <code>.sd-sticky</code> de <code>body</code> para que la barra esté oculta por defecto.'
        li
          p!= 'Si queremos que los links del menú oculten la columna les debemos añadir un <code>data-toggle="sidebar"</code>'

    .col-sm-6
      pre.dark-bgcolor.
        .navbar-header.nav-headerboxed.main-bgcolor
          //Este es el botón que desplegará el sidebar
          a.light-color.link.align-right.visible-xs(href="",data-toggle="sidebar")
            i.fa.fa-bars.fa-2x
          // Aquí el logo como siempre
          a.navbar-brand(href="#section2",data-scroll="true")
            img.brand(src="assets/misc/demo02/logo.png")
  .row
    .col-sm-6
      h3.sans-2.bold Menú de navegación
    .col-sm-6
  .row
    .col-sm-6
      h4.sans-2.bold 1. Estructura básica
      p!= 'Un único menú, con la clase <code>.active</code> en los elementos activos. Los submenús simples se anidan dentro del <code>li</code>.' 
    .col-sm-6
      pre.dark-bgcolor.
        .side-menu
          ul#main-nav.main-nav.nav-menu.light-color.align-left
            li
              a.active(href="#")
                p.sans-2.uppercase.bold Elemento 1
            li
              a(href="#")
                p.sans-2.uppercase.bold Elemento 2
              ul.sub-items
                li
                  a(href="#")
                    p.sans-2.bold Subelemento 1
  .row
    .col-sm-6
      h4.sans-2.bold 2. Navegación entre submenús
      p!= 'Debajo del <code>ul</code> principal añadimos el/los submenú/s. Para navegar entre ellos añadimos al enlace que lo activa los siguientes atributos. El <code>href</code> es la id del submenú invocado:'
      pre.dark-bgcolor.
        a(href="#subnav2",data-toggle="subnav")
      p!= 'Para que el menú pueda volver al punto anterior declaramos el siguiente botón (con el <code>href</code> indicando la id del menú padre):'
      pre.dark-bgcolor.
        a(href=".main-nav",data-toggle="subclose")
          p.sans-2.uppercase.bold Close
    .col-sm-6
      pre.dark-bgcolor.
        // Primer menú
        ul#main-nav.main-nav.nav-menu.nav-lined.light-color.align-left
          li
            // Enlace con el primer menú
            a(href="#columnas",data-scrollTo="true")
              p.sans-2.uppercase.bold Elemento 1
          li
            a.active(href="#subnav2",data-toggle="subnav")
              p.sans-2.uppercase.bold Elemento 2
        // Segundo menú
        ul#subnav1.subnav.nav-menu.nav-bordered.light-color.align-left
          li
            // Botón para volver
            a(href=".main-nav",data-toggle="subclose")
              p.sans-2.uppercase.bold Close
          li
            a.active(href="")
              p.sans-2.uppercase.bold Elemento 3
  .row
    .col-sm-6
      h4.sans-2.bold 3. Opciones de estilo en los menús
      p!= 'Añadimos a <code>ul.nav-menu</code> estas clases:'
      ul.list.list-sm
        li
          p!= '<code>.nav-bordered</code> para que aparezcan en formato bloques separados por una línea'
        li
          p!= '<code>nav-lined</code> para que se vean los elementos en una especie de timeline vertical.' 
    .col-sm-6
  #topbars.row
    .col-sm-6
      h2.sans-2.bold.lined.uppercase Topbar
      p Estructura básica.
    .col-sm-6
      pre.dark-bgcolor.
        nav.navbar
          .container-fluid
            .navbar-header
              a.navbar-brand(href="#")
                // El logo puede ser una imagen o texto
                img.brand(src="assets/images/logo-bueninvento.png")
                // h3.brand Logo de texto
            // Botón para abrir el sidebar
            ul.nav.navbar-nav.navbar-right.visible-xs
              li
                a.light-color.link(href="#",data-toggle="sidebar")
                  i.fa.fa-bars.fa-lg
            .collapse.navbar-collapse.sans.uppercase
              // Left menu
              ul.nav.navbar-nav
                li.active
                  a(href="#") Link
                    span.sr-only Current
                li
                  a(href="#") Link
              // Right menu
              ul.nav.navbar-nav.navbar-right
                li.active
                  a(href="#") El problema
                li
                  a(href="#") Solución
                li
                  a(href="#") Paquetes
                li.dropdown
                  a.dropdown-toggle(href="#",data-toggle="dropdown",role="button",aria-expanded="false") Dropdown
                    span.caret
                  ul.dropdown-menu(role="menu")
                    li
                      a(href="#") Action
                    li
                      a(href="#") Another action
                    li.divider
                    li
                      a(href="#") Another action
                li
                  .btn.btn-main.btn-sm.bold Contacta
                li
                  // Form
                  form.form-bordered.navbar-form.navbar-left(role="search")
                    .form-group
                      input.form-control(type="text",placeholder="Search")
                    button.btn.btn-bordered(type="submit") Submit
    .row
      .col-sm-6
        h2#scrollsTo.sans-2.bold.lined.uppercase ScrollTo
        p Para hacer scroll al hacer click en un link, añadimos:
        pre.dark-bgcolor.
          a(href="#secciondestino",data-scrollTo="true")
        p La sección destino debe llevar la id del href.
      .col-sm-6
        